/* styles.css 파일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: #f5f5f5;
    color: black;
}

.logo {
    display: block;
}

/* 기존 과제 스타일 */
.task {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    max-width: 350px;
}

.img-container {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease;
    align-items: center; /* 수직 가운데 정렬 */
}

.img-container:hover img {
    transform: scale(1.2);
}

img.resizeable {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
    display: flex;
}

.level-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s ease;
    max-height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper:hover .level-info {
    opacity: 0;
}

.level-label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
}
.project-container {
    text-align: center;
    height: 300px;
}
/* 스타일링 */
/* 스타일링 */

.button-container {
    text-align: center;
    justify-content: center; /* 가로 가운데 정렬 */
}

.big-button {
    padding: 30px 50px;
    font-size: 24px;
    margin: 20px;
    border-radius: 5px;
}
